[Unit]
Description=Sutton Scoreboard Legacy BLE Advertisement Watchdog
After=bluetooth.service sutton-scoreboard.service
Requires=bluetooth.service
Wants=sutton-scoreboard.service

[Service]
Type=simple
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStartPre=/bin/sleep 12
ExecStartPre={{INSTALL_DIR}}/scripts/run-btmgmt-on-scoreos-adapter.sh connectable on
ExecStart={{INSTALL_DIR}}/venv/bin/python -u {{INSTALL_DIR}}/scripts/legacy_advertisement_watchdog.py
ExecStop={{INSTALL_DIR}}/scripts/legacy-advertisement.sh stop
Restart=always
RestartSec=3
TimeoutStartSec=30
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

