[Unit]
Description=Sutton Scoreboard OS
Requires=bluetooth.service
Wants=sutton-scoreboard-advert.service
After=bluetooth.service
After=sutton-scoreboard-advert.service

[Service]
Type=simple
User=root
WorkingDirectory={{INSTALL_DIR}}
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 -u {{INSTALL_DIR}}/bluetooth/server.py
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
