[Unit]
Description=Sutton Scoreboard Legacy BLE Advertisement Watchdog
After=bluetooth.service sutton-scoreboard.service
Requires=bluetooth.service
Wants=sutton-scoreboard.service

[Service]
Type=simple
ExecStartPre=/usr/sbin/rfkill unblock bluetooth
ExecStartPre=/bin/sleep 12
ExecStartPre=/home/pi/sutton-scoreboard-os/scripts/run-btmgmt-on-scoreos-adapter.sh connectable on
ExecStart=/usr/bin/python3 -u /home/pi/sutton-scoreboard-os/scripts/legacy_advertisement_watchdog.py
ExecStop=/home/pi/sutton-scoreboard-os/scripts/legacy-advertisement.sh stop
Restart=always
RestartSec=3
TimeoutStartSec=30
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
